body {
    overflow-x: hidden;
    /* height: 1000px; */
    /* scroll-behavior: smooth; */
    /* scroll-behavior: smooth; */
    /* background-color: aqua; */
}

* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    /* background: linear-gradient(to right, blue , rgb(0, 0, 0)) ; */
    position: fixed;
    z-index: 1;
    /* top: 0px; */
}
h2 {
    display: inline-block;
    font-size: 26px;
    font-weight: 100;
    /* background-color: black; */
    color: aliceblue;
    /* width: 100%; */
    /* height: 25px; */
    padding: 19px;
}

.hm:hover{
    .hms{
        width: 62px;
    height: 4px;
   background: linear-gradient(to right,#00c9ff , #92fe9d,#2443f4) ;
   position: absolute;
     top: 42px;
    right: 282px;
    border-radius: 20px;
    box-shadow: -1px -15px 20px 12px  #41d9ffbd;
    z-index: -1;
}
}
.sk:hover{
     .sks{
        width: 62px;
    height: 4px;
   background: linear-gradient(to right,#00c9ff , #92fe9d,#2443f4) ;
   position: absolute;
     top: 42px;
    right: 205px;
    border-radius: 20px;
    box-shadow: -1px -15px 20px 12px  #41d9ffbd;
    z-index: -1;
}
}
.gl:hover{
     .gal{
        width: 62px;
    height: 4px;
   background: linear-gradient(to right,#00c9ff , #92fe9d,#2443f4) ;
   position: absolute;
     top: 42px;
    right: 122px;
    border-radius: 20px;
    box-shadow: -1px -15px 20px 12px  #41d9ffbd;
    z-index: -1;
}
}
.co:hover{
    .cot{
        width: 62px;
    height: 4px;
   background: linear-gradient(to right,#00c9ff , #92fe9d,#2443f4) ;
   position: absolute;
     top: 42px;
    right: 32px;
    border-radius: 20px;
    box-shadow: -1px -15px 20px 12px  #41d9ffbd;
    z-index: -1;
}
}
nav {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* width: 368px;
    height: 25px; */
    /* background-color: black; */
    color: aliceblue;
    /* position: absolute;
    top: 0px;
    right: 5px; */
}
 a {
    /* width: 70px;
    height: 20px; */
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    transition: 0.8s;
    z-index: 1;
}

/* .home{
    position: fixed;
    color: aliceblue;
} */
.home {
    position: absolute;
    width: 70px;
    height:64px;
    top: 2px;
    right: 279px;
    /* border-radius: 50px; */
    color: aliceblue;
    /* z-index: 1; */
    /* background: linear-gradient(to right, blue , rgb(230, 15, 15)) ; */
}
.home:hover{
    width: 62px;
    height: 4px;
   background: linear-gradient(to right,#00c9ff , #92fe9d,#2443f4) ;
     top: 42px;
    right: 282px;
    border-radius: 20px;
    box-shadow: -1px -15px 20px 12px  #41d9ffbd;
    z-index: -1;
}

.home1 {
    position: absolute;
    /* width: 65px;
    height: 25px; */
    top: 20px;
    right: 274px;
    /* background-color: blue; */
    border-radius: 50px;
    color: aliceblue;
}

/* .home1:hover {
      position: absolute;
        top: 30px;
    right: 274px;
    /* width:65px;
    height: 25px; */
    /* background-color: blueviolet; */
/* } */ 


/* .home {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 255, 34);
    position: relative;
    top: 800px;
    transition: 2s;
} */

.main {
    width: 100%;
    height: 900px;
    backdrop-filter: blur(3px);
}

.img {
    background-image: url(CSS-Background-Image-Full-Screen-background-size-contain-no-repeat-1024x845.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: absolute;
    /* opacity: 1; */
    z-index: -1;
    opacity: 1px;
}



body {
    transition: 2s;
    scroll-behavior: smooth;
}

h1 {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 45px;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 130px;
    left: 340px;
}

p {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: none;
    font-size: 21px;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 191px;
    left: 430px;
}


h6 {
    display: inline-block;
    width: 6%;
    height: 100px;
    background-color: none;
    font-size: 21px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 26%;
    left: 46%;
    z-index: 1;
    cursor: pointer;
    /* background-color: beige; */
}

/* h6:hover{
     transition: 1.2;
    background-color: blue;
    width: 110px;
    height: 40px;
    /* border: 1px solid rgb(255, 235, 235); */
/* border-radius: 50px;
    position: absolute;
     top: 26%;
    left: 46%;
    /* background-color: rgb(0, 255, 94); */
/* }  */

.oval {
    /* content: ""; */
    width: 110px;
    height: 40px;
    border: 1px solid rgb(255, 235, 235);
    border-radius: 50px;
    position: absolute;
    top: 225px;
    left: 560px;
    background-color: rgba(255, 255, 255, 0.473);
    /* z-index: -1; */
}

.oval:hover {
    transition: 1.2;
    background-color: blue;
    width: 110px;
    height: 40px;
    /* border: 1px solid rgb(255, 235, 235); */
    border-radius: 50px;
    position: relative;
    top: -33px;
    transform: rotateY(180deg);
    /* left: 100px; */
    z-index: -1;
}

h4 {
    display: inline-block;
    width: 6%;
    height: 100px;
    background-color: none;
    font-size: 21px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 26%;
    left: 590px;
    z-index: 1;
    /* cursor: pointer; */
    /* display: inline-block;
    /* width: 100%;
    height: 100px; */
    /* background-color: none;
    font-size: 21px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 1; */
}

.hire {
    font-size: 19px;
    font-weight: 100;
    width: 110px;
    font-family: serif;
    color: white;
    height: 40px;
    border: -0.5px solid rgb(255, 235, 235);
    border-radius: 50px;
    position: absolute;
    top: 225px;
    left: 569px;
    /* background-color: rgba(255, 255, 255, 0.473); */
    background-color: rgb(89 46 46 / 56%);
    /* width: 110px;
    height: 40px;
    border: 1px solid rgb(255, 235, 235);
    border-radius: 50px;
    position: absolute;
    top: 48%;
    left: 173px;
    background-color: blueviolet; */
}

.hire:hover {
    transition: 1.2;
    background-color: #ff1e3ca8;
    width: 110px;
    height: 40px;
    /* border: 1px solid rgb(255, 235, 235); */
    border-radius: 50px;
    position: relative;

    transform: scale(1.1);

    box-shadow: -1px 0px 20px 15px #794658c7;

    /* background-color: blue; */
}

/* h4:hover{
         transition: 1.2;
     background-color: #ff1e3ca8;
   */
/* width: 110px;
    height: 40px;
    /* border: 1px solid rgb(255, 235, 235); */
/* border-radius: 50px;
    position: relative; */
/* } */
.my {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 40px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 20%;
    left: 43%;
}

h3 {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 17px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 147px;
}

.html {
    width: 355px;
    height: 90px;
    border: 1px solid black;
    background-color: #363333;
    position: absolute;
    top: 60%;
    left: 2%;
    border-radius: 16px;
    transition: 0.8s;
}

.hyper {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: none;
    font-size: 18px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 44px;
    left: 68px;
}

.html:hover {
    transform: translateY(-10px) scale(1.02);

    box-shadow: 0px 0px 19px 2px #41d9ffbd;
}

.cs {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 17px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 165px;
}

.css {
    width: 355px;
    height: 90px;
    border: 1px solid black;
    background-color: #363333;
    position: absolute;
    top: 60%;
    left: 35%;
    border-radius: 16px;
    transition: 0.8s;
}

.style {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: none;
    font-size: 18px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 44px;
    left: 104px;
}

.css:hover {
    transform: translateY(-10px) scale(1.02);
    /* transform: scale(1.1); */
    box-shadow: 0px 0px 19px 2px #41d9ffbd;
}

.design {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 17px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 150px;
}

.ui {
    width: 355px;
    height: 90px;
    border: 1px solid black;
    background-color: #363333;
    position: absolute;
    top: 60%;
    left: 68%;
    border-radius: 16px;
    transition: 0.8s;
}

.modern {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: none;
    font-size: 18px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 44px;
    left: 76px;
}

.ui:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 0px 19px 2px #41d9ffbd;
}

.Gallery {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 45px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 60px;
    left: 563px;
}

.img1 {
    background-image: url(istockphoto-1317323736-612x612.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 240px;
    border-radius: 20px;
    position: absolute;
    left: 30px;
    top: 48%;
    transition: 0.8s;
}

.skills {
    width: 100%;
    height: 500px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 112%;
}

.gallery {
    width: 100%;
    height: 500px;
    /* border: 2px solid rgb(216, 30, 30); */
    position: absolute;
    top: 200%;
}

.img2 {
    background-image: url(pngtree-chinese-nature-beautiful-scene-image-background-art-picture-image_15485507.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 240px;
    border-radius: 20px;
    position: absolute;
    left: 443px;
    top: 48%;
    transition: 0.8s;
}

.img3 {
    background-image: url(pngtree-a-breathtaking-digital-painting-of-serene-nature-scene-image_16985869.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 240px;
    border-radius: 20px;
    position: absolute;
    right: 44px;
    top: 48%;
    transition: 0.8s;
}

.tree {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 109px;
    font-size: 20px;
    left: 160px;
    z-index: -1;
}

.img1:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 0px 19px 2px #41d9ffbd;
    z-index: 1;
}

.hills {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 109px;
    font-size: 20px;
    left: 160px;
    z-index: -1;
}

.img2:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 0px 19px 2px #41d9ffbd;
    z-index: 1;
}

.water {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 109px;
    font-size: 20px;
    left: 160px;
    z-index: -1;
}

.img3:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 0px 19px 2px #41d9ffbd;
    z-index: 1;
}

.cont {
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 40px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    position: absolute;
    /* bottom: -215%; */
    left: 43%;
    top: 40px;
}

/* .cont{
      display: inline-block;
    width: 50%;
    height: 100px;
    background-color: none;
    font-size: 17px;
    font-weight: 100;
    color: rgb(216, 20, 20);
    position: absolute;
    top: 20px;
    left: 147px;
} */
/* .main{
    border: 2px solid blue;
} */
input {
    border: 2px solid #41d9ffbd;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 25%;
    /* bottom: -223%; */
    left: 0%;
}

.name {
    visibility: visible;
    color: #41d9ffbd;
    position: absolute;
    /* top:317% ; */
    font-size: 20px;
    top: 20px;
    left: 20px;
}

.Name {
    height: 40px;
    width: 40%;
    position: relative;
    left: 380px;
    top: 160px;
    transition: 0.8s;
}

.Name:hover {
    .name {
        position: absolute;
        top: -15px;
        left: 15px;
    }
}

.mail {
    border: 2px solid #41d9ffbd;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    position: absolute;
    /* top: 235px; */
    /* bottom: -223%; */
    left: 0px;
    top: -2px;
}

.email {

    color: #41d9ffbd;
    position: absolute;
    /* top: 245px; */
    font-size: 20px;
    top: 8px;
    left: 22px;
    /* left: 32% */
}

.Email {
    height: 40px;
    width: 40%;
    position: relative;
    left: 377px;
    top: 252px;
    transition: 0.8s;
}

.Email:hover {
    .email {
        position: absolute;
        top: -28px;
        left: 22px;
    }
}

.contact {
    position: relative;
    top: 871px;
    width: 100%;
    height: 500px;
    /* border: 2px solid brown; */
}

.msg {
    border: 2px solid #41d9ffbd;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 235px;
    /* bottom: -223%; */
    left: 0px;
    top: -2px;
}

.mg {

    color: #41d9ffbd;
    position: absolute;
    top: 7px;
    font-size: 20px;
    left: 22px;
}

.message {
    height: 40px;
    width: 40%;
    position: relative;
    left: 378px;
    top: 331px;
    transition: 0.8s;
}

.message:hover {
    .mg {
        position: absolute;
        top: -28px;
        left: 22px;
    }
}

.footer {
    width: 100%;
    height: 50px;
    position: relative;
    top: 80%;
    background-color: black;
}

.htmlcss {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    font-size: 20px;
    left: 510px;
    /* z-index: -1; */
}